*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: serif;
}
nav a {
  font-size: larger;
  font-weight: 800;
  color: midnightblue;
}
nav a:link {
  color: midnightblue;
  background-color: cadetblue;
}
nav a:visited {
  color: aliceblue;
}
nav a:hover {
  color: aliceblue;
  background-color: midnightblue;
}
nav a:active {
  background-color: aliceblue;
}
.nav-link {
  padding: 10px;
  background-color: cadetblue;
}
.nav-link + .nav-link {
  margin-left: 20px;
}
.header {
  padding: 16px 16px;
  max-width: 60%;
  margin: 0 auto;
  text-align: center;
}
main * + * {
  padding-top: 20px;
}
main article {
  border-bottom: 2px solid midnightblue;
}
.main {
  padding: 16px 16px;
  max-width: 60%;
  margin: 0 auto;
}
.body-header {
  text-align: center;
  background-color: cadetblue;
  padding-bottom: 20px;
}
