*,
*:before,
*:after {
  box-sizing: border-box;
}
*::selection {
  background-color: cadetblue;
}
.body-header ::selection {
  background-color: aliceblue;
}
body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  color: midnightblue;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: serif;
}

/*----------- NAV -----*/
nav a {
  font-size: larger;
  font-weight: 800;
  color: midnightblue;
}
nav a:link {
  color: midnightblue;
  background-color: cadetblue;
}
nav a:visited {
  color: aliceblue;
}
nav a:hover {
  color: aliceblue;
  background-color: midnightblue;
}
nav a:active {
  background-color: aliceblue;
}
.nav-link {
  padding: 10px;
  background-color: cadetblue;
}
.nav-link + .nav-link {
  margin-left: 20px;
}
/*----- HEADER ----- */
.header {
  padding: 16px 16px;
  max-width: 60%;
  margin: 0 auto;
  text-align: left;
}
.header h1 {
  padding-top: 60px;
  margin: 0;
}
.header p {
  margin: 0;
}
/*---------- MAIN ---------*/
main * + * {
  padding-top: 20px;
}
main article {
  border-bottom: 2px solid midnightblue;
}
main article:last-child {
  border-bottom: none;
}
.main {
  padding: 16px 16px;
  max-width: 60%;
  margin: 0 auto;
}
.body-header {
  text-align: center;
  background-color: cadetblue;
  padding: 20px 10px;
}

/*---- Emoji after Proffession ----*/
.proffession ::after {
  content: "⚙️👨‍💻";
}
