/* ----- General Styling ---- */
*,
*:before,
*:after {
	box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;500;700&family=Roboto:wght@700&display=swap");

html {
	font-family: "Merriweather Sans", sans-serif;
	font-size: 16px;
}
@media screen and (min-width: 768px) {
	html {
		font-size: 18px;
		background-color: aliceblue;
	}
}
@media screen and (min-width: 992px) {
	html {
		font-size: 20px;
	}
}
* body {
	line-height: 1.5rem;
	color: midnightblue;
	margin: 0;
	padding: 0;
}
*::selection {
	background-color: cadetblue;
}

h1,
h2,
h3,
h4 {
	font-family: "Roboto", sans-serif;
	font-weight: 900;
	color: midnightblue;
	margin: 0;
}
a{
	color: midnightblue;
	text-decoration: none;
}

aside {
	margin: 0;
	padding: 0;
}
main {
	padding: 1rem 1rem;
	max-width: 70ch;
	margin: 0 auto;
}
footer{
	padding: 1rem 1rem;
	max-width: 70ch;
	margin: 0 auto;
	background-color: cadetblue;
}


/* ------ Hire Me! --------- */

.hireme {
	position: sticky;
	display: inline-block;
	background-color: cadetblue;
	padding: 0.6rem 1.2rem;
	border-radius: 0.3rem;
	top: 7rem;
	left: 87%;
}
.hireme {
	-ms-transform: scale(1.2); /* IE 9 */
	-webkit-transform: scale(1.2); /* Safari 3-8 */
	transform: scale(1.2);
	box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.2), 0 0.4rem 0.7rem 0 rgba(0, 0, 0, 0.19);
	animation: beat 1.2s;
	animation-iteration-count: infinite;
}
aside.hireme > a {
	text-decoration: none;
	color: midnightblue;
	font-weight: 700;
}
@keyframes beat {
	from {
		-ms-transform: scale(1); /* IE 9 */
		-webkit-transform: scale(1); /* Safari 3-8 */
		transform: scale(1);
		opacity: 0.5;
	}
	to {
		-ms-transform: scale(1.2); /* IE 9 */
		-webkit-transform: scale(1.2); /* Safari 3-8 */
		transform: scale(1.2);
		box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.2), 0 0.4rem 0.7rem 0 rgba(0, 0, 0, 0.19);
	}
}
@media print {
	.hireme,
	.hireme-narrow,
	nav {
		display: none;
	}
}
@media screen and (min-width: 992px) {
	.hireme-narrow {
		display: none;
	}
}
@media screen and (max-width: 992px) {
	.hireme {
		position: sticky;
	}

	.hireme-narrow {
		display: none;
	}
}
@media screen and (max-width: 768px) {
	.hireme {
		display: none;
	}
	.hireme-narrow {
		position: relative;
		display: block;
		width: fit-content;
		top: 2rem;
		left: 80%;
		background-color: cadetblue;
		opacity: 0.8;
		padding: 0.6rem 1.2rem;
		border-radius: 0.3rem;
		border-radius: 0.3rem 0.3rem 0.3rem 0.3rem;
		box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.2), 0 0.4rem 0.7rem 0 rgba(0, 0, 0, 0.19);
		animation: none;
		/* 		outline: 1px solid red;
 */
	}
}
/* ----- specific Styling---- */

.header {
	padding: 1rem 1rem;
	width: 90%;
	margin: 0 auto;
	text-align: center;
}
.heading-groupe {
	font-size: 4rem;
}
h1 {
	padding-top: 3.8rem;
	font-size: 1em;
	font-weight: 900;
	margin: 0;
}

.proffession {
	margin: 1rem 0 2rem 0;
	font-size: 0.25em;
	font-weight: 700;
}
/* --- emojie after Proffession */
.proffession::after {
	content: "⚙️ 👨‍💻";
}

/* --- NAVI ---- */

.navi {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 2rem;
}

@media screen and (min-width: 768px) {
	.navi {
		flex-direction: row;
		justify-content: center;
	}
	nav > a + a {
		margin-left: 1rem;
	}
}
.navi > * {
	flex: 1 1 0;
}
.nav-link {
	padding: 0.6rem;
	background: rgb(240,248,255);
	background: linear-gradient(90deg, rgba(240,248,255,1) 0%, rgba(95,158,160,1) 50%, rgba(240,248,255,1) 100%);
	margin-top: 0.6rem;
}
nav > a {
	padding: 0;
	margin: 0;
	font-size: medium;
	font-weight: 700;
	color: midnightblue;
	border-radius: 0.3rem;
}
nav > a:link {
	color: midnightblue;
	background-color: cadetblue;
	width: max-content;
}
nav > a:visited {
	color: aliceblue;
}
nav > a:hover {
	color: aliceblue;
	background-color: midnightblue;
}
nav > a:active {
	background-color: aliceblue;
}
@media print {
	.hireme,
	.hireme-narrow,
	.nav-link {
		display: none;
	}
}
/* --- MAIN --- */

.main-article {
	border-bottom: 0.2rem solid midnightblue;
	padding: 0 1.25rem;
	margin-bottom: 3rem;
}
.main-article:last-child {
	border-bottom: none;
	margin-bottom: 2rem;
}
@media screen and (min-width: 768px) {
	.main-article {
		margin-bottom: 4rem;
	}
}
.article-heading {
	display: inline-block;
	position: relative;
	left: -1.2rem;
	box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.2), 0 0.4rem 0.7rem 0 rgba(0, 0, 0, 0.19);
	padding: 0.6rem 1.2rem;
	margin-bottom: 2rem;
	border-radius: 0.3rem;
	color: cadetblue;
}
.exp-header {
	display: flex;
	flex-direction: column;
}
.exp-subheading {
	font-style: italic;
	font-weight: 500;
}
@media screen and (min-width: 768px) {
	.exp-header {
		display: flex;
		flex-direction: row;
		align-items: baseline;
		justify-content: space-between;
	}
}
}
/* ----CONTACT Styling---- */

ol.liTall > li {
	padding-bottom: 1.2rem;
}
ol.liTall:last-child {
	padding-bottom: none;
}
.contactMail ::before {
	content: "📫 ";
}
.contactSignal ::before {
	content: "💬 ";
}
.contactPhone ::before {
	content: "📞 ";
}
.contact-me{
	font-weight: 800;
}
.contact-mail{
	text-decoration: underline;
}